@import "./variables";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: $color-1;
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    height: 90%;
    max-width: 90%;
    display: flex;
    flex-direction: row;
  }
}

.sidebar {
  background-color: white;
  width: 16rem;
  height: 100%;
  padding-top: 3rem;
  padding-left: 2rem;
  margin-right: 0.1rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;

  &__header {
    margin-bottom: 2rem;
    color: $main-text-color;
  }

  &__list-container {
    display: flex;
    height: 80%;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: space-between;
  }

  &__list-item {
    padding: 0.5rem 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: $secondary-text-color;
    border-right: 0.25rem solid transparent;
    transition: all 0.2s ease-in-out;

    &--active,
    &:hover {
      color: $main-text-color !important;
      border-color: $teal-color;
    }

    &__text {
      padding-left: 0.5rem;
    }
  }
}

.main {
  height: 100%;
  background-color: white;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 1.5rem 2rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;

  &__search {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 6rem;
    outline: none;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;

    &:focus {
      border-color: $color-1;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 1.5rem;
    }

    i {
      cursor: pointer;
    }

    i,
    img,
    p {
      margin: 0 0.33rem;
      color: $main-text-color;
    }
  }
}

.board {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    color: $main-text-color;
    margin: 1rem 0;
  }

  &__lists {
    height: 100%;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &__list {
    height: 100%;
    width: 280px;
    margin: 1rem;
    padding: 1rem;
    flex-shrink: 0;
    background-color: #eee;
    overflow-y: auto;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

    &__header {
      display: flex;
      justify-content: space-between;

      &__title {
        color: $main-text-color;
      }

      &__count {
        height: 1.5rem;
        width: 1.5rem;
        background-color: $color-2;
        color: $teal-color;
        border-radius: 0.5rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__add {
      width: 100%;
      background-color: $color-2;
      color: $teal-color;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.75rem 0;
      padding: 0.25rem;
      border-radius: 0.25rem;
      cursor: pointer;
    }
  }
}

.cards_list {
  overflow-y: scroll;

  .card {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: white;
    margin: 0.5rem 0;
    cursor: pointer;

    &__title {
      &:before {
        content: "●";
        color: $teal-color;
        padding-right: 0.5rem;
      }
    }

    &__desc {
      margin-top: 0.75rem;
      line-height: 1.25rem;
      font-size: 0.75rem;
      color: $secondary-text-color;
    }
  }
}
